# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables (secrets)
.env

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Render or Heroku build files
*.pid
.tmp
.cache
